src/main/app/order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
xmlns:ws="http://www.mulesoft.org/schema/mule/ws" 
xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	
	<http:listener-config name="http8086" host="0.0.0.0" port="8086" doc:name="HTTP Listener Configuration" />
	
	<ws:consumer-config name="orderSoapService" wsdlLocation="orders.wsdl" service="OrderServiceService" port="OrderServicePort"
		serviceAddress="http://training-u.cloudhub.io/advanced/orders" doc:name="Web Service Consumer" />

	<flow name="processOrders">
		<set-variable variableName="orders" value="#[message.payload]" doc:name="orders" />
		<set-payload value="#[{'international': java.util.Map&lt;String,String&gt;[], 'domestic': java.util.Map&lt;String,String&gt;[]}]"
			doc:name="Set Payload" />
		<expression-component doc:name="Group By Location"><![CDATA[for(order : flowVars.'orders')
{
   if(order.location == 'international')
   {
  	payload.'international'.add(order);
   }
   else
   {
    payload.'domestic'.add(order);
   }
}]]></expression-component>
	</flow>

	<flow name="retrieveOrders">
		<http:listener config-ref="http8086" path="/" doc:name="HTTP" />
		<set-variable variableName="dateRange" value="#[message.inboundProperties.'http.query.params'.range]" doc:name="dateRange" />
		<parse-template location="orderRequest.xml" doc:name="orderRequest" />
		<ws:consumer config-ref="orderSoapService" operation="provisionOrder" doc:name="SOAP provisionOrder" />
		<dw:transform-message doc:name="CDM">
			<dw:input-payload doc:sample="provisionOrderResponse.xml" />
			<dw:set-payload resource="classpath:provision_order_cdm.dwl"></dw:set-payload>
		</dw:transform-message>
	</flow>

</mule>
